<ion-view title="Registration" ng-controller="PhoneNumberCtrl as vm">
	<ion-content class="registerBackground">
		<div class="card padding text-wrap">
			Bereshtook will a one time SMS message to verify your phone number.
		</div>
		<div class="card padding">
			<p>Please enter your phone number.</p>
			<div class="item item-input  item-devider">
				<div class="col-15 text-center" style="font-size: 14px; margin-top: 2px;">
					+98
				</div>
				<div class="col">
					<input type="tel" ng-model="phoneNumber" placeholder="phone number" maxlength="11">
				</div>
			</div>
			<div class="item">
				<button class="button button-full button-balanced" ng-click="vm.submitNumber(phoneNumber)" class="button button-block button-light">Continue</button>
			</div>	
		</div>
	</ion-content>
</ion-view>