<ion-view view-title="{{statusMsg}}">
  <ion-content>

    <label class="item item-input">
      <span class="input-label">Username:</span>
      <input type="text" ng-model="form.username">
    </label>

    <label class="item item-input">
      <span class="input-label">Display Name:</span>
      <input type="text" ng-model="form.displayName">
    </label>

    <label class="item item-input">
      <span class="input-label">Birthday:</span>
      <input type="date" ng-model="form.birthdate">
    </label>

    <input type="button" ng-click="submitProfile()" class="button button-block button-light" value="Next" />
  </ion-content>
</ion-view>