<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.4.5.min.css" />
        <link rel="stylesheet" type="text/css" href="css/jquery.mobile.theme-1.4.5.min.css" />
        
    </head>
    <body>

		<div data-role="page" id="pgSignupProfile" data-dom-cache="true">

			<div data-role="header">
				<h1>Profile</h1>
				<h3 id="hdrUsername"></h3>
			</div>

			<div role="main" class="ui-content">
                Username: <input id="txtUsername" type="text" />
                Display Name: <input id="txtDisplayName" type="text" />
                Birthdate<input id="txtBirthdate" type="date" />

                <div id="btnGoHome" class="ui-btn ui-corner-all ui-btn-inline" data-prefetch>Next</div>
            </div>
            
			<div data-role="footer">

			</div>		    	

		</div>

    </body>
</html>